body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 100%;
}

ul {
    padding-inline-start: 0px;
}

h1 {
    display: flex;
    justify-content: center;
}

.Player-1 {
    background-image: linear-gradient(to top, #617080, #697b8e, #71869c, #7a92aa, #829db9, #87a2be, #8da7c4, #92acc9, #95acc6, #99adc3, #9cadc0, #9fadbd);
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-rows: .5fr 1fr;
}

.player-titles {
    display: flex;
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 250%;
}

.player-victories {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.victory-display {
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-content: center;
}

.Game {
    background-color: whitesmoke;
    justify-content: center; 
    display: grid;
    grid-template-rows: .5fr 1fr;
}

.Game-board {
    width: 300px;
    height: 300px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.square {
    width: 100px;
    height: 100px;
    background-color: #8eaccd;
    border: .5px solid white;
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-content: center;
}

.turn-reminder {
    font-family: 'Permanent Marker', cursive;
    font-size: 250%;
    display: flex;
    justify-content: center;
}

.marker {
    font-family: 'Permanent Marker', cursive;
    font-size: 250%;
}

.top {
    height: 100px;
    border-bottom: 10px solid #f4fce3;
}

.Player-2 {
    background-image: linear-gradient(to top, #617080, #697b8e, #71869c, #7a92aa, #829db9, #87a2be, #8da7c4, #92acc9, #95acc6, #99adc3, #9cadc0, #9fadbd);
    display: flex;
    justify-content: center; 
    display: grid;
    grid-template-rows: .5fr 1fr;
}